<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Choose a photo to use as your profile picture.</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>ChurFinancial.reminderRefresh</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.google.GIDSignIn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.72421479384-khfht84hnp48i7svdvce61d06511eepu</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
